**/.DS_Store
.classpath
.project
.settings
.gradle

build/
bin/
output/
target/

# don't commit the autobuilt version file
src/main/resources/version.txt

# H2 database files
**/*.mv.db
**/*.trace.db

*.zip
# VS Code launch settings
.vscode/launch.test.json
.vscode/launch.json
