<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <link rel="stylesheet" href="css/MarkerCluster.css" />
    <link rel="stylesheet" href="css/MarkerCluster.Default.css" />
    <style>

      /*     borrowed from https://mdbootstrap.com/docs/jquery/tables/scroll/ */
      .table-wrapper-scroll-y {
        display: block;
        max-height: 475px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }

      .width90p {
        width: 90%;
      }

      #syntheaState::first-letter {

      }

      .virtualResourceLabel {
        font-weight: 500;
      }
    </style>
    <title></title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">VA Telehealth Resource Management Tool</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="container-fluid" id="mainContainer">
      <div class="row">
        <div class="col-auto">
          <label for="state">State:</label>
          <select id="state" class="form-control">
            <option value="Massachusetts">Massachusetts</option>
            <option value="South Carolina">South Carolina</option>
          </select>
        </div>
        <div class="col-auto">
          <label for="population">Population:</label>
          <select id="population" class="form-control">
            <option value="100">100</option>
            <option value="1000">1000</option>
            <option value="10000">10000</option>
          </select>
        </div>
        <div class="col-auto">
          <label for="yearsOfHistory">Years Of History:</label>
          <select id="yearsOfHistory" class="form-control">
            <option>1</option>
            <option>5</option>
            <option>10</option>
          </select>
        </div>
        <div class="col-auto" style="padding-top: 4px;">
          <button class="btn btn-outline-primary btn-block" disabled type="button" id="confButton">Configure</button>
          <button class="btn btn-outline-primary btn-block" disabled type="button" id="runButton">Start</button>

        </div>
      </div>
      <div class="row" >
        <div class="col" id="thGoalHolder">
          <label for="telehealthGoal">Telehealth Adoption (<span id="telehealthGoalTarget">{{ actual }}{{ symbol }}</span>)</label>
          <span id="resetTelehealth" style="display:none">
            <button id="resetTHButton">Reset to {{simulation}}{{ symbol }}</button>
          </span>
            <span id="calcStatus"></span>
            <span id="resetStatus"></span>
            <br >
          <input type="range" min="0" max="100" value="0" class="form-control"
                 id="telehealthGoal"  v-model="target" disabled
                 style="display: inline; width: 33%; vertical-align: middle;"/>
          <span id="dragSpan" style="display:none; margin-left: 1em;">Proposed Adoption Rate: <span id="proposedSpan"></span>%</span>
        </div>
      </div>
      <div class="row" style="margin-bottom: 1em;">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <div class="card-text">
                Visits: <span id="visitCount">{{ total }}</span>
              </div>
              <div id="visitDonut"></div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-text">
              Travel 
            </div>
            <div class="card-body" id="travelDiv">
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-text">
              Travel Time
            </div>
            <div class="card-body" id="travelTimeDiv">
            </div> 
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 1em;">
        <div class="col">
          <div class="card">
            <div class="card-text virtualResourceLabel">Virtual Care Trained Providers</div>
            <div class="card-body row">
              <div class="col text-center">
                <img src="images/VA_Telehealth_Dashboard_Icons_VC_DOC_114.svg"  style="height:100px" />
              </div>
              <div class="col align-self-center" id="vctp" style="text-align: center;">48<hr style="width:50%">478
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-text virtualResourceLabel" >Virtual Care Trained Nurses</div>
            <div class="card-body row">
              <div class="col text-center">
                <img src="images/VA_Telehealth_Dashboard_Icons_VC_NURSE_114.svg"  style="height:100px" />
              </div>
              <div class="col align-self-center" id="vctn" style="text-align: center;">
                13<hr style="width:50%">568
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-text virtualResourceLabel">Virtual Care Trained Technicians</div>
            <div class="card-body row">
              <div class="col text-center">
                <img src="images/VA_Telehealth_Dashboard_Icons_VC_TECH_114.svg" style="height:100px" />
              </div>
              <div class="col align-self-center" id="vctt" style="text-align: center;">
                3<hr style="width:50%">89
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-text virtualResourceLabel">Virtual Care Rooms</div>
            <div class="card-body row">
              <div class="col text-center">
                <img src="images/VA_Telehealth_Dashboard_Icons_VC_ROOMS_114.svg" style="height:100px" />
              </div>
              <div class="col align-self-center" id="vcr" style="text-align: center;">
                20<hr style="width:50%">48
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding-left: 0px;">
        <div class="card">
          <div style="height:500px;" id="map">MAP</div>
        </div>

      </div>
      <div class="col">
        <div class="row">

          <div class="table-wrapper-scroll-y">
            <table class="table w-auto table-striped " id="facilityTable">
              <thead>
                <tr class="">
                  <th v-for="key in columnLabels">
                    {{ key | capitalize }}
                  </th>                  
                </tr>
              </thead>
              <tbody>
                <tr v-for="entry in facilities" class="">
                  <td v-for="key in columns"> {{entry[key]}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
    <script src="js/comms.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/latlon-spherical.js"></script>
    <script src="js/leaflet.markercluster-src.js"></script> <!-- drop the -src for minified -->
    <script src="js/states.js"></script>
    <script type="text/javascript">
$(document).ready(function () {

  window.leaflet_map = L.map('map').setView([42.3695, -71.9481], 8);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(leaflet_map);

  window.leaflet_layers = {
    patientLayer: L.markerClusterGroup(),
    facilityLayer: L.layerGroup(),
    travelHeat: null,
  }

  let layersControl = L.control.layers(null, {
    "Patients": window.leaflet_layers.patientLayer,
    "Facilities": window.leaflet_layers.facilityLayer
  });
  layersControl.addTo(window.leaflet_map);
  window.leaflet_map.layersControl = layersControl;
  window.leaflet_map.addLayer(window.leaflet_layers.patientLayer);
  window.leaflet_map.addLayer(window.leaflet_layers.facilityLayer);

  google.charts.load('current', {'packages': ['corechart']});
  google.charts.load('current', {'packages': ['line']});
  google.charts.setOnLoadCallback(buildCharts);
});
    </script>


    <!--     vue module maybe?-->
    <script type="text/javascript">
      const telehealthPercentages = {
        target: 0,
        simulation: 0,
        actual: 0,
        symbol: "%"
      };

      function buildVues() {
        let totalVisitVue = new Vue({
          el: "#visitCount",
          data: encounterTracker
        });
        let facilityTableVue = new Vue({
          el: "#facilityTable",
          data: {
            columns: ["name", "visits", "virtual"],
            columnLabels: ["Name", "In Person", "Telehealth"],
            facilities: known_organizations
          },
          filters: {
            capitalize: function (value) {
              if (!value)
                return ''
              value = value.toString()
              return value.charAt(0).toUpperCase() + value.slice(1)
            }
          }
        });
        let thGoalVue = new Vue({
          el: "#thGoalHolder",
          data: telehealthPercentages
        });
        window.totalVisitVuew = totalVisitVue;
        window.facilityTableVue = facilityTableVue;
        window.thGoalVue = thGoalVue;
        $("#resetTHButton").on("click", function () {
          telehealthPercentages.target = telehealthPercentages.simulation;
          forceTelehealthMin(telehealthPercentages.simulation);
        });
        $("#telehealthGoal").on("input", function() {
          $("#dragSpan").show();
          $("#proposedSpan").text($("#telehealthGoal").val());
//          <span id="dragSpan">Proposed: <span id="proposedSpan"></span></span>

  });
        $("#telehealthGoal").on("change", function () {
          $("#dragSpan").hide();
          $("#resetTelehealth").show();
          $("#telehealthGoal").blur();
          let requested = $("#telehealthGoal").val();
          if (requested < telehealthPercentages.simulation)
            requested = telehealthPercentages.simulation;
          telehealthPercentages.target = requested;
          forceTelehealthMin(requested);
        });
      }
    </script>


    <!-- I don't know what this should be. maybe a simulation module. or maybe it just lives here? -->
    <script type="text/javascript">
      function recalculateEncounterInfo() {

        let tracker = encounterTracker;
        tracker.total = 0;
        tracker.countByKind = [];
        let ttravel = tracker.travel;
        ttravel.saved = 0;
        ttravel.savedCount = 0;
        ttravel.distance = 0;
        ttravel.travelCount = 0;
        ttravel.travelTime = 0;
        tracker.breadCrumbs.clearCrumbs(true);

        known_patients.forEach(function (patient) {
          if (patient.travel && patient.travel.trips) {
            patient.travel.trips.forEach(function (encounter) {
              let org = findOrganization(encounter.org_id);
              tracker.total++;
              if (encounter.virtual) {
                if (org != null)
                  org.virtual++;
                ttravel.savedCount++;
                ttravel.saved += encounter.distance;
                ttravel.savedTime += encounter.duration;
              } else {
                if (org != null)
                  org.visits++;
                ttravel.travelCount++;
                ttravel.distance += encounter.distance;
                ttravel.travelTime += encounter.duration;
                tracker.breadCrumbs.addCrumbs(encounter.breadCrumbs);
              }
              const idx = tracker.countByKind.map(kind => kind.encounterType).indexOf(encounter.code);
              if (idx === -1) {
                tracker.countByKind[tracker.countByKind.length] = {encounterType: encounter.code, total: 1};
              } else {
                tracker.countByKind[idx].total++;
              }
            });
          }
        });

      }
      function forceTelehealthMin(val) {

        // reset everything
        if (val === undefined)
          val = telehealthPercentages.simulation;
        val = Number(val);
        let reset = telehealthPercentages.simulation === val;
        let tracker = encounterTracker;
        tracker.total = 0;
        tracker.countByKind = [];
        let ttravel = tracker.travel;
        ttravel.saved = 0;
        ttravel.savedCount = 0;
        ttravel.distance = 0;
        ttravel.travelCount = 0;
        ttravel.travelTime = 0;
        ttravel.savedTime = 0;
        known_organizations.forEach(function (org) {
          org.visits = 0;
          org.virtual = 0;
        });

        let total = 0;
        known_patients.forEach(function (patient) {
          if (patient.travel && patient.travel.trips) {
            patient.travel.trips.forEach(function (encounter) {
              encounter.code = encounter.actualCode;
              encounter.virtual = encounter.actualVirtual;
              // HERE
              total++;
            });
          }
        });

        if (!reset) {

          let delta = val - telehealthPercentages.simulation;
          let changecount = Math.ceil(total * (delta / 100));
          let round = 0;
          let pidx = 0;
          let roundhit = false;
          let skipped = [];
          while (changecount > 0) {
            $("#calcStatus").text("Pending updates " + changecount);
            let p = known_patients[pidx];
            if (p.travel && p.travel.trips.length > round) {
              let pt = p.travel.trips[round];
              if (pt && pt.virtualEligible && pt.code !== "virtual") {
                roundhit = true;
                pt.code = "virtual";
                pt.virtual = true;
                changecount--;
              } else {
                skipped.push(pidx);
              }
            } else {
              skipped.push(pidx);
            }
            pidx++;
            if (pidx == known_patients.length) {
              skipped = [];
              if (!roundhit) {
                changecount = 0;
              }
              pidx = 0;
              round++;
              roundhit = false;
            }
          }
        }

        $("#calcStatus").text("");
        recalculateEncounterInfo();
        updateEncounterViz(true);
        mapTravel();

      }

    </script>


    <!-- become a viz module -->
    <script type="text/javascript">

      let visitChart;
      let travelChart;
      function buildCharts() {
        let visitOptions = {
          title: 'Visits',
          pieHole: 0.4,
        };
        visitChart = new google.visualization.PieChart(document.getElementById('visitDonut'));
        travelChart = new google.visualization.ColumnChart(document.getElementById('travelDiv'));
        let travelData = google.visualization.arrayToDataTable([
          ['Travel', 'Miles', {role: 'style'}],
          ['Spent', 0.0, 'red'],
          ['Saved', 0.0, 'green']
        ]);
        travelChart.draw(travelData, {
          chart: {
            title: 'Travel Distance',
          },
          height: 250 // I should stop being a monster

        });
        // I wasn't kidding about the monster thing
        $("#travelDiv > div > div:first-child > :first-child :first-child")[0].children[2].style.display = "none";
        travelTimeChart = new google.visualization.ColumnChart(document.getElementById('travelTimeDiv'));
        let travelTimeData = google.visualization.arrayToDataTable([
          ['Time', 'Hours', {role: 'style'}],
          ['Spent', 0.0, 'red'],
          ['Saved', 0.0, 'green']
        ]);
        travelTimeChart.draw(travelTimeData, {
          chart: {
            title: 'Travel Time',
          },
          height: 250 // I should stop being a monster

        });

        $("#travelTimeDiv > div > div:first-child > :first-child :first-child")[0].children[2].style.display = "none";
        updateEncounterViz();
      }


      function updateTravelViz() {
        let travelData = google.visualization.arrayToDataTable([
          ['Type', 'Miles', {role: 'style'}],
          ['Traveled', Math.floor(encounterTracker.travel.distance), 'red'],
          ['Saved', Math.floor(encounterTracker.travel.saved), 'green']
        ]);
        travelChart.draw(travelData, {
          chart: {
            title: 'Travel Distance',
          },
          height: 250 // I should stop being a monster

        });
        $("#travelDiv > div > div:first-child > :first-child :first-child")[0].children[2].style.display = "none";

        let hour = 60 * 60;
        let tt = encounterTracker.travel.travelTime / hour;
        if (tt < 1 && tt > 0)
          tt = 1;
        else
          tt = Math.floor(tt);

        let st = encounterTracker.travel.savedTime / hour;
        if (st < 1 && st > 0)
          st = 1;
        else
          st = Math.floor(st);
        let travelTimeData = google.visualization.arrayToDataTable([
          ['Time', 'Hours', {role: 'style'}],
          ['Spent', tt, 'red'],
          ['Saved', st, 'green']
        ]);
        travelTimeChart.draw(travelTimeData, {
          chart: {
            title: 'Travel Time',
          },
          height: 250 // I should stop being a monster

        });
        $("#travelTimeDiv > div > div:first-child > :first-child :first-child")[0].children[2].style.display = "none";

      }

      const updateEvery = 10;
      let updateCount = 1;


      function updateEncounterViz(force = false) {
        updateCount++;
        if (force || updateCount % updateEvery == 0) {
          updateCount = 1;
        } else
          return;
        let values = [["Type", "# of Visits"]];
        const byKind = encounterTracker.countByKind;


        byKind.forEach(function (holder) {
          values.push([holder.encounterType, holder.total]);
        });


        let data = google.visualization.arrayToDataTable(values);
        visitChart.draw(data, {
          pieHole: 0.4,
          chart: {
            title: 'Visit Types'
          },
          height: 250 // I should stop being a monster

        });
        updateTravelViz();
        updateAdoptionInfo();
      }

      function updateAdoptionInfo() {
        const countByKind = encounterTracker.countByKind;
        const idx = countByKind.map(kind => kind.encounterType).indexOf("virtual");
        if (idx === -1) {
          telehealthPercentages.actual = "0";
        } else {
          let thp = Number((countByKind[idx].total / encounterTracker.total * 100).toFixed(1));
          telehealthPercentages.actual = thp;
        }
      }
    </script>

    <!--    utilities-->
    <script type="text/javascript">

      function convertMetersToMiles(i) {
        return i * 0.000621371192;
      }
      function convertMilesToMeters(i) {
        return i * 1609.344;
      }
    </script>    

    <!-- become a FHIR module that parses records-->
    <script type="text/javascript">

      const RANDOMIZE_DISTANCE = 8000;
      const known_patients = [];
      const practitioners_cheat = [];
      const known_organizations = [
        {name: "Waiting For Facility Information", visits: 0, virtual: 0}
      ];


      const encounterTracker = {
        total: 0,
        countByKind: [],
        travel: {
          saved: 0,
          savedCount: 0,
          distance: 0,
          travelCount: 0,
          travelTime: 0,
          savedTime: 0
        },
        breadCrumbs: {
          crumbs: [],
          crumbIndex: {},
          addCrumb: function (lat, lon, count = 1) {
            let id = "ll" + lat + "x" + lon;
            let idx = this.crumbIndex[id];
            if (idx === undefined) {
              idx = this.crumbs.length;
              this.crumbs[idx] = {lat: lat, lon: lon, count: count}
              this.crumbIndex[id] = idx;
            } else {
              this.crumbs[idx].count += count;
            }
            if (idx === undefined)
              return null; // wooooah
            return this.crumbs[idx];
          },
          addCrumbs: function (crumbs) {
            crumbs.forEach(function (crumb) {
              encounterTracker.breadCrumbs.addCrumb(crumb.latitude, crumb.longitude, crumb.count);
            });
          },
          clearCrumbs: function (really) {
            if (!really)
              return;
            this.crumbs.length = 0;
            this.crumbIndex = {};
          }
        }

      };

      initHelper();
      function initHelper() {
        $("#state").change(function () {
          let name = $("#state").val();
          let state = stateHelper.getStateByName(name);
          if (state == undefined)
            alert("Sorry, I couldn't find information for that location!");
          else {
            let ll1 = L.latLng(state.latMin, state.lonMin);
            let ll2 = L.latLng(state.latMax, state.lonMax);

            let bounds = L.latLngBounds(ll1, ll2);
            leaflet_map.fitBounds(bounds);
          }

        })
        buildVues();
        comms.setFHIRHandler(processFHIR);
        comms.connect();
        // do something smart later

        $("#confButton").click(function () {
          config();
        });
        $("#runButton").click(function () {
          let rb = $("#runButton");
          if ("Start" == rb.text()) {
            rb.text("Stop");
            goGoGo();
          } else {
            noNoNo();
            rb.prop("disabled", true);
            rb.text("Start");
          }

        })
        setTimeout(function () {
          $("#confButton").prop('disabled', false);
        });
      }


      function resetTravel() {
        encounterTracker.total = 0;
        encounterTracker.countByKind = [];
        encounterTracker.travel.saved = 0;
        encounterTracker.travel.savedCount = 0;
        encounterTracker.travel.distance = 0;
        encounterTracker.travel.travelCount = 0;
        encounterTracker.breadCrumbs.clearCrumbs(true);
        encounterTracker.travel.saved = 0;
        encounterTracker.travel.savedCount = 0;
        encounterTracker.travel.savedTime = 0;
        encounterTracker.travel.distance = 0;
        encounterTracker.travel.travelCount = 0;
        encounterTracker.travel.travelTime = 0;
        encounterTracker.breadCrumbs.clearCrumbs(true);
        if (window.leaflet_layers.travelHeat !== null) {
          window.leaflet_map.layersControl.removeLayer(window.leaflet_layers.travelHeat);
          window.leaflet_map.removeLayer(window.leaflet_layers.travelHeat);
        }
        window.leaflet_layers.facilityLayer.clearLayers();
        window.leaflet_layers.patientLayer.clearLayers();
      }
      function config() {
        comms.stop();
        known_patients.length = 0;
        known_organizations.length = 0;
        known_organizations[known_organizations.length] = {name: "Waiting", visits: 0, virtual: 0};
        telehealthPercentages.actual = 0;
        telehealthPercentages.simulation = 0;
        telehealthPercentages.target = 0;
        resetTravel();
        updateEncounterViz(true);
        $("#runButton").prop("disabled", true);
        $("#population option:selected").text($("#population option:selected").val());
        $("#population")
        let config = {
          yearsOfHistory: Number($("#yearsOfHistory").val()),
          population: Number($("#population").val()),
          state: $("#state").val()
        };
        $("#confButton").prop("disabled", true).text("Configuring");
        comms.configure(config);

      }
      function goGoGo() {
        comms.start();
        known_organizations.length = 0;
      }

      function noNoNo() {
        comms.stop();
      }

      let simulationRunning = false;
      function processFHIR(fhir) {

        if (fhir === null) { // special case, switch me to a different call back or to event broadcasts
          $("#runButton").text("Start");
          $("#runButton").prop("disabled", true);
          $("#population option:selected").text($("#population option:selected").val());
          updateAdoptionInfo();
          telehealthPercentages.simulation = telehealthPercentages.actual;
//          forceTelehealthMin(undefined);
          mapTravel();
          updateEncounterViz();
          simulationRunning = false;
          $("#telehealthGoal").prop("disabled", false);
          return;
        }
        simulationRunning = true;
        let organizations = processOrganizations(fhir);
        mapOrganizations(organizations);
        processPractitioners(fhir);
        let patients = processPatients(fhir);
        mapPatients(patients);
        let encounterInfo = processPatientEncounters(fhir);
        let patientEncounterStats = encounterInfo.encounterStats;
        Object.keys(patientEncounterStats).forEach(function (key) {
          encounterTracker.total += patientEncounterStats[key];
          const countByKind = encounterTracker.countByKind;
          const idx = countByKind.map(kind => kind.encounterType).indexOf(key);
          if (idx === -1) {
            countByKind[countByKind.length] = {encounterType: key, total: patientEncounterStats[key]};
          } else {
            countByKind[idx].total += patientEncounterStats[key];
          }
        });
        updateEncounterViz();
      }

      function mapTravel() {

        if (window.leaflet_layers.travelHeat !== null) {
          window.leaflet_map.layersControl.removeLayer(window.leaflet_layers.travelHeat);
          window.leaflet_map.removeLayer(window.leaflet_layers.travelHeat);
        }
        let data = massageCrumbs(encounterTracker.breadCrumbs.crumbs);
        window.leaflet_layers.travelHeat = L.heatLayer(data, {radius: 10});
        window.leaflet_map.layersControl.addOverlay(window.leaflet_layers.travelHeat, "Travel Frequency");
        window.leaflet_layers.travelHeat.addTo(window.leaflet_map);

      }

      function massageCrumbs(crumbs) {
        var values = [];
        crumbs.forEach(function (crumb) {
          values[values.length] = [crumb.lat, crumb.lon];
        });
        return values;
      }


      function normalize(val, min = 0.0, max = 1.0) {
        return (val - min) / (max - min);
      }
      function mapPatients(patients = []) {
        patients.forEach(function (patient) {
          if (patient.marker !== undefined)
            return; // fast exit, already mapped
          if (patient.location === undefined)
            return; // can't map
          const loc = patient.location;
          const ll = [loc.latitude, loc.longitude];
          //          let marker = L.marker(ll);
          const marker = L.circle(ll, {
            color: 'blue',
            fillColor: 'lightblue',
            fillOpacity: 0.5,
            radius: 50
          })
          window.leaflet_layers.patientLayer.addLayer(marker);

          //          marker.addTo(window.leaflet_map);
        })
      }

      function mapOrganizations(organizations = []) {
        organizations.forEach(function (org) {
          if (org.location == undefined)
            return;
          if (org.marker != undefined) {
            return;
          }
          let loc = org.location;
          let ll = [loc.latitude, loc.longitude];
          
//          VA_Telehealth_Dashboard_Icons_FACILITY_PIN_W_42.svg
//          var pinIcon = L.icon({
//    iconUrl: 'images/VA_Telehealth_Dashboard_Icons_FACILITY_PIN_W_42.svg',
//    iconSize:     [38, 95], // size of the icon
//    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
//    shadowAnchor: [4, 62],  // the same for the shadow
//    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
//});
          var pinIcon = L.icon({
    iconUrl: 'images/VA_Telehealth_Dashboard_Icons_FACILITY_PIN_W_42.svg',
    iconSize:     [28.5, 71.25], // size of the icon
    iconAnchor:   [16.5, 70.5], // point of the icon which will correspond to marker's location
    shadowAnchor: [3, 46.5],  // the same for the shadow
    popupAnchor:  [-2.25, -57] // point from which the popup should open relative to the iconAnchor
});
          
                    let marker = L.marker(ll, {icon: pinIcon});
//          let marker = L.circle(ll, {
//            color: 'red',
//            fillColor: 'pink',
//            fillOpacity: 0.5,
//            radius: 75
//          })
          org.marker = marker;
          window.leaflet_layers.facilityLayer.addLayer(marker);

          //marker.addTo(window.leaflet_map);
        });
      }

      function isKnownPatient(id = "") {
        return  (known_patients.filter(patient => patient.fhir_id === id).length !== 0)
      }
      function processPatients(fhir) {
        const patients = [];
        let patientStanzas = getByResourceType(fhir, "Patient");
        patientStanzas.forEach(function (entry) {


          let patient = {travel: {total: 0, saved: 0, savedCount: 0, distance: 0, travelCount: 0, savedTime: 0, trips: []}};
          const resource = entry.resource;
          if (resource.id !== undefined)
            patient.fhir_id = resource.id;
          if (isKnownPatient(patient.fhir_id))
            return;
          else
            known_patients[known_patients.length] = patient;
          if (resource.address !== undefined) {
            const addresses = resource.address;
            addresses.forEach(function (address) {
              address.extension.forEach(function (extension) {
                let latlon = {};
                latlon = processLocationExtension(extension);
                if (latlon === null || (latlon.latitude !== undefined && latlon.longitude !== undefined))
                  if (RANDOMIZE_DISTANCE > 0) {
                    let ll = new LatLon(latlon.latitude, latlon.longitude);
                    let bearing = randomRange(0, 60);
                    let distance = randomRange(0, RANDOMIZE_DISTANCE);
                    ll = ll.destinationPoint(distance, bearing);
                    latlon.latitude = ll.lat;
                    latlon.longitude = ll.lon;
                  }
                patient.location = latlon;
              });
            });
          }
          patients[patients.length] = patient;
        });
        $("#population option:selected").text(known_patients.length + "/" + $("#population option:selected").val());

        return patients;
      }

      function randomRange(min, max) // min and max included
      {
        return Math.floor(Math.random() * (max - min + 1) + min);
      }
      function urnToId(urn) {
        if (urn.startsWith("urn:uuid:"))
          urn = urn.substring(9);
        return urn;
      }

      function processPatientEncounters(fhir) {
        let encounters = getByResourceType(fhir, "Encounter");
        let encounterNumbers = {};
        let discarded = 0;
        const cutoff = new Date().getYear() - Number($("#yearsOfHistory").val());

        encounters.forEach(function (encounter) {

          let org = null;
          let resource = encounter.resource;
          let code = resource.class.code.toLowerCase();
          let end = new Date(resource.period.end);
          let year = new String(end.getYear());
          if (year < cutoff) {
            discarded++;
            return;
          }

          if (resource.serviceProvider !== undefined && resource.serviceProvider.reference !== undefined) {
            // they're called providers here- I wonder if this is a mix of organizations and
            // individuals. if so, this is wrong, it only indexes into the 
            let spid = resource.serviceProvider.reference;
            spid = urnToId(spid);
            org = findOrganization(spid);
            if (org !== null) {

              org.visits++;
            } else {
              console.debug("found an unreferenced organization. this was unexpected given processing order");
              org = {
                fhir_id: spid,
                visits: "virtual" === code ? 0 : 1,
                virtual: "virtual" === code ? 1 : 0,
              };
              known_organizations.push(org);
            }
          }
          if (resource.subject !== undefined && resource.subject.reference !== undefined) {
            let pid = urnToId(resource.subject.reference);
            let patient = findPatient(pid, true);
            if (patient !== null && org !== null)
              if (patient.location !== undefined && org.location !== undefined) {
                let virtual = code === "virtual";
                if (virtual) {
                  if (org.virtual === undefined)
                    org.virtual = 0;
                  org.virtual++;
                }
                processTrip(patient, org, code);
              }
          }

          if (encounterNumbers[code] === undefined)
            encounterNumbers[code] = 1;
          else
            encounterNumbers[code]++;
        });
        return {"encounters": encounters, "encounterStats": encounterNumbers};
      }


      const osrm = {start: "http://osrm.mitre.org:5000/route/v1/driving/", args: "?overview=false&steps=true"};

      const waypointCheat = {};
      let pendingDistances = 0;
      function processTrip(patient, org, code) {
        let start = patient.location;
        let end = org.location;

        let waypoints = [];
        let duration = 0;
        let distance = 0;

        let id = pairIdHelper(start, end);
        if (waypointCheat[id] !== undefined) {
          finishTrip(waypointCheat[id], code);
          return;

        }
        // soooo, this is probably a BAD place to put this, buuuuttt....
        let url = osrm.start + start.longitude + "," + start.latitude + ";"
                + end.longitude + "," + end.latitude + osrm.args;
        pendingDistances++;
        fetch(url).then(function (response) {
          return response.json();
        }).then(function (json) {
          if (json.code === "Ok" && json.routes !== undefined) {
            route = json.routes[0];
            distance = route.distance;
            duration = route.duration;
            if (route.legs)
              route.legs.forEach(function (leg) {
                leg.steps.forEach(function (step) {
                  waypoints.push({longitude: step.maneuver.location[0], latitude: step.maneuver.location[1], duration: step.duration});
                });
              })

          }
          finishTrip({id: id, path: waypoints, distance: distance * 2, duration: duration * 2, patient: patient, org_id: org.fhir_id}, code);
          pendingDistances--;
          $("#calcStatus").text("Pending travel: " + pendingDistances)
          if (pendingDistances < 1) {
            $("#calcStatus").text("");
            updateEncounterViz(true);
          }
        });
      }
      const virtualEligibleEncounters = ["ambulatory", "outpatient", "wellness"];
      function finishTrip(helper, code, crumbDistance = 500) {
        let virtual = "virtual" === code;
        let miles = convertMetersToMiles(helper.distance);
        let travel = encounterTracker.travel;
        let patient = helper.patient;
        let patient_travel = patient.travel;
        let trip_details = {
          distance: miles,
          actualVirtual: virtual,
          actualCode: code,
          code: code,
          virtual: virtual,
          virtualEligible: virtualEligibleEncounters.indexOf(code) !== -1,
          duration: helper.duration,
          breadCrumbs: [],
          org_id: helper.org_id
        };
        patient_travel.trips.push(trip_details);
        if (virtual) {
          travel.saved += miles;
          travel.savedCount++;
          travel.savedTime += helper.duration;

          patient_travel.saved += miles;
          patient_travel.savedCount++;
          patient_travel.savedTime += helper.duration;

        } else {
          travel.distance += miles;
          travel.travelCount++;
          travel.travelTime += helper.duration;

          patient_travel.total += miles;
          patient_travel.travelCount++;
          patient_travel.travelTime += helper.duration;
          // add event type 

          let path = helper.path;

          if (path.length > 1) {
            let idx = 0;
            let limit = path.length - 1;
            while (idx < limit) {
              let step1 = new LatLon(path[idx].latitude, path[idx].longitude);
              let step2 = new LatLon(path[idx + 1].latitude, path[idx + 1].longitude);
              let bearing = step1.bearingTo(step2);
              let stepDistanceMeters = step1.distanceTo(step2);
              let crumbCount = Math.floor(stepDistanceMeters / crumbDistance);
              let here = step1;
              encounterTracker.breadCrumbs.addCrumb(here.lat, here.lon, 2);
              trip_details.breadCrumbs.push({latitude: here.lat, longitude: here.lon, count: 2});
              for (let  i = 0; i < crumbCount; i++) {
                let next = here.destinationPoint(crumbDistance + (Math.random(1, 100) * (Math.random() >= 0.5 ? 0 : 1)), bearing);
                here = next;
                encounterTracker.breadCrumbs.addCrumb(here.lat, here.lon, 2);
                trip_details.breadCrumbs.push({latitude: here.lat, longitude: here.lon, count: 2});
              }
              idx++;
            }
          }
      }
      }

      function pairIdHelper(start, end) {
        return "p" + start.latitude + "x" + start.longitude
                + "/" + end.latitude + "x" + end.longitude;
      }

      function findOrganization(id = null, name = null) {
        let idx = -1;
        if (id !== null)
          idx = known_organizations.map(org => org.fhir_id).indexOf(id);
        else if (name !== null)
          idx = known_organizations.map(org => org.name).indexOf(name);
        if (idx === -1)
          return null;
        return known_organizations[idx];
      }
      function findPatient(id = null) {
        let idx = -1;
        if (id !== null)
          idx = known_patients.map(person => person.fhir_id).indexOf(id);
        if (idx === -1)
          return null;
        return known_patients[idx];
      }

      pp = 0;
      np = 0;
      function processPractitioners(fhir) {
        let pStanzas = getByResourceType(fhir, "Practitioner");
        pp += pStanzas.length;
        if (pStanzas.length == 0)
          np++;
        pStanzas.forEach(function (p) {

          findorCreatePractitioner(p.resource.id);
        });
      }

      pc = 0;
      function findorCreatePractitioner(id = null) {
        pc++;
        if (id === null)
          return null;
        let idx = -1;
        if (id !== null)
          idx = practitioners_cheat.map(p => p.fhir_id).indexOf(id);
        if (idx === -1) {
          let p = {fhir_id: id, count: 0};
          practitioners_cheat[practitioners_cheat.length] = p;
          return p;
        } else {
          return  practitioners_cheat[idx];
      }
      }

      function processOrganizations(fhir) {
        let orgStanzas = getByResourceType(fhir, "Organization");
        orgStanzas.forEach(function (orgStanza) {
          let resource = orgStanza.resource;
          let org = {name: null};
          if (resource.id !== undefined)
            org.fhir_id = resource.id;
          if (resource.name !== undefined)
            org.name = resource.name;
          // early exit if we have the name
          // we could have it with the id if it was filled in via an encounter reference
          if (known_organizations.filter(known_org => known_org.name === org.name).length !== 0)
            return;
          if (org.visits === undefined) {
            org.visits = 1;
            org.virtual = 0;
          }
          if (resource.address !== undefined)
            resource.address.forEach(function (address) {
              if (address.extension !== null) {
                address.extension.forEach(function (extension) {
                  let loc = processLocationExtension(extension);
                  if (loc !== null) {
                    org.location = loc;
                  }

                });
                org.address = address;
              }

            });
          if (org.fhir_id !== null) {
            // see if we have a pre-reference
            const idx = known_organizations.map(org => org.fhir_id).indexOf(org.fhir_id);
            if (idx === -1)
              known_organizations.push(org);
            else
              known_organizations[idx] = org;
          }
        });
        return known_organizations;
      }

      function processLocationExtension(holder) {
        let latlon = {};
        holder.extension.forEach(function (ext, idx) {
          if (ext.url == "latitude")
            latlon.latitude = Number(ext.valueDecimal.toFixed(4));
          else if (ext.url == "longitude")
            latlon.longitude = Number(ext.valueDecimal.toFixed(4));
        });
        if (latlon.latitude !== undefined && latlon.longitude !== undefined)
          return latlon;
        else
          return null;
      }

      function getByResourceType(fhir, resourceType) {
        return fhir.entry.filter(obj => {
          return obj.resource.resourceType === resourceType;
        });
      }

    </script>


  </body>
</html>